<appSettings>
  <add key="MailServer" value="dev-smtp.dvd-shop.com"/>
  <add key="FacebookAppId" value="1994957774112090"/>
  <add key="FacebookAppSecret" value="1b01e1bafb40367a1184c6cab6e017be"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>